.portfolio__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.portfolio__slider {
  position: relative;
  max-width: 290px;
  margin: 0 auto;
}

.portfolio__arrow {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 26px;
  height: 26px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 5;
}

.portfolio__arrow--left {
  left: 0;
}

.portfolio__arrow--right {
  right: 0;
  transform: rotate(180deg);
}

.portfolio__arrow--disable {
  opacity: 0.3;
  pointer-events: none;
}

.portfolio__item:nth-child(even) {
  .card {
    background: linear-gradient(90.67deg, #ecebeb 0.55%, #f7f7f7 99.42%);
  }
}

.card {
  box-sizing: border-box;
  max-width: 252px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 14px;
}
.portfolio__picture {
  align-self: center;
  width: 155px;
  height: 92px;
  padding: 5px 18px 12px;
  background-image: url("../img/macbook.svg");
  background-size: cover;
  margin-bottom: 30px;
}

.portfolio__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;

  font-weight: 600;
}

.portfolio__client {
  font-size: 12px;
  line-height: 120%;
}

.portfolio__date {
  font-size: 9px;
  width: 70px;
  line-height: 140%;
}

.portfolio__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}

@media (min-width: 480px) {
  .portfolio__slider {
    max-width: 340px;
  }

  .portfolio__title {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .portfolio__slider {
    max-width: 688px;
  }
}

@media (min-width: 992px) {
  .portfolio__slider {
    max-width: 690px;
  }
}

@media (min-width: 1440px) {
  .portfolio__slider {
    max-width: 825px;
  }

  .portfolio__title {
    font-size: 50px;
  }

  .card {
    max-width: 366;
  }

  .card__date {
    font-size: 16px;
  }

  .card__title {
    font-size: 18px;
  }

  .card__picture {
    width: 213px;
    height: 126px;
    padding: 6px 26px 15px;
  }
}
